@import url(estilo.css);

#inicio {
    padding-top: 60px;
    margin-bottom: 100px;
    position: relative;
}

#inicio-header {
    background: linear-gradient(230deg, rgba(0, 122, 187, 0.5) 0%, rgba(251, 251, 250, 0.5) 50%, rgba(75, 67, 202, 0.5) 100%);
    padding-top: 35px;
    padding-bottom: 35px;
}

#inicio-img {
    width: 490px;
    animation: flotar 5s ease-in-out infinite;
    position: relative;
    float: right;
    right: 15%;
    top: 20px;
}

#inicio-img img{
    width: 100%;
}

#estadisticas {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#estadisticas>h2 {
    width: 25%;
    padding-bottom: 30px;
}

#numeros {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.numero {
    width: 15%;
}

.numero h1 {
    font-size: 5rem;
    transition: transform 0.4s ease-out;
}

.numero h1.active {
    transform: scale(1.1);
}

.numero>p {
    padding: 10px;
    text-align: center;
}

#graficas {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#contenedor-graficas {
    width: 100%;
    overflow: hidden;
}

.div-grafica {
    height: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: right;
}

.div-grafica h1 i {
    background: linear-gradient(90deg, rgba(0, 122, 187, 0.7) 0%, rgba(107, 102, 213, 0.7) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding:5px;
}

.grafica {
    height: 100px;
    background: linear-gradient(90deg, rgba(0, 122, 187, 0.7) 0%, rgba(107, 102, 213, 0.7) 100%);
    display: flex;
    justify-content: left;
    align-items: center;
}

.grafica h1 {
    text-align: left;
    padding-left: 20px;
}

.grafica p{
    padding-left: 20px;
    padding-right: 20px;
}

.grafica-1{
    width:60%;
}

.grafica-2{
    width:70%;
}

.grafica-3{
    width:80%;
}

.grafica-4{
    width:90%;
}

#acercade-header {
    height: 450px;
    background: linear-gradient(90deg, rgba(251, 251, 250, 0.8) 0%, rgba(107, 102, 213, 0.8) 100%);
    overflow: hidden;
    position: relative;
}

#contenedor-parallax {
    width: 800px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#parallax {
    width: 100%;
    height: 100%;
    background-image: url(../recursos/interfaz2.png);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    margin-right: -50%;
}

#herramientas{
    width:100%;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

#herramientas div{
    width:35%;
    padding: 0;
}

#herramientas div p{
    padding:0;
    text-align: left;
}

#herramientas video{
    width:40%;
}

#contenedor-antes-despues{
    width:100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap:40px;
    padding-top:30px;
}

#texto-antes-despues{
    width: 25%;
}

#texto-antes-despues h2{
    padding-bottom: 20px;
    text-align: left;
}

#antes-despues{
    width:55%; 
    aspect-ratio: 16 / 9;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: 1.5px solid var(--gris);
    overflow: hidden;
    position: relative;
}

#contenedor-slider{
    width: 100%;
    height: 100%;
    position: relative;
}

#contenedor-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

#my-img {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

#slider {
    position: relative;
    appearance: none; 
    width: 100%;
    outline: none;
    background-color: transparent;
    height: 100%;
}

#slider:hover{
    cursor: pointer;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 50px;
    width: 50px;
    background: rgba(255, 255, 255, 0.3) url("https://i.imgur.com/0dS5FaQ.png") center/cover no-repeat;
    border: 3px solid #ffffff;
    background-size: 80%;
    backdrop-filter: blur(2px);
    border-radius: 50%;
    cursor: pointer;
}

#slider::-moz-range-thumb {
    height: 50px;
    width: 50px;
    background: rgba(255, 255, 255, 0.3) url("https://i.imgur.com/0dS5FaQ.png") center/cover no-repeat;
    border: 3px solid #ffffff;
    background-size: 80%;
    backdrop-filter: blur(2px);
    border-radius: 50%;
    cursor: pointer;
}

#recursos {
    background-color: var(--azul);
    padding-top: 80px;
    padding-bottom: 80px;
}

#contenedor-recursos {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.recurso {
    width: 125px;
    text-align: center;
}

.img-recurso {
    width: 100%;
    height: 125px;
    background-color: var(--blanco);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.img-recurso> a img {
    width: 90%;
}

#contenedor-recursos:hover .recurso {
    transition: 0.7s ease;
}

#contenedor-recursos .recurso:hover {
    cursor: pointer;
    transition: 0.7s ease;
    transform: scale(0.9);
}

.recurso label {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

#contacto {
    transition: 0.7s ease;
    border-top: 1.5px solid var(--blanco);
}

#contacto .seccion-flex {
    padding-top: 30px;
    padding-bottom: 30px;
}

#formulario {
    width: 70%;
}

#formulario p {
    font-family: 'SegoeUI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding: 10px;
    font-size: 1.4rem;
    text-align: left;
}

#formulario input[type="text"], #formulario input[type="email"] {
    width: 100%;
    height: 40px;
    border: 1.5px solid var(--morado);
    border-radius: 5px;
    background-color: var(--blanco);
    margin-bottom: 5px;
    padding-left: 10px;
    font-size: 1.1rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: var(--negro);
    transition: 0.5s ease;
}

#formulario textarea {
    width: 100%;
    height: 150px;
    border: 1.5px solid var(--morado);
    border-radius: 5px;
    background-color: var(--blanco);
    padding: 10px;
    margin-bottom: 5px;
    resize: none;
    font-size: 1.15rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    transition: 0.5s ease;
}

#formulario textarea::placeholder {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: var(--morado);
    opacity: 70%;
}

#formulario input[type="text"]::placeholder, #formulario input[type="email"]::placeholder {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: var(--morado);
    opacity: 70%;
}

#formulario input[type="text"]:focus, #formulario input[type="email"]:focus, #formulario textarea:focus {
    outline: none;
    background-color: var(--blanco);
    transition: 0.7s ease;
    color: var(--morado);
}

#formulario input[type="submit"] {
    border: none;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    background-color: var(--verde);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.5s;
    font-family: 'SegoeUI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--morado);
    margin-top: 10px;
    transition: 0.3s ease;
    box-shadow: none;
}

#formulario input[type="button"]:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    cursor: pointer;
    transition: 0.3s ease;
}